---
#- name: Enable SSH Password Auth
#  lineinfile:
#    path: /etc/ssh/sshd_config
#    regexp: '^PasswordAuthentication (yes|no)$'
#    line: 'PasswordAuthentication yes'

- name: Import Swap Tasks
  import_tasks: swap.yaml

- name: Import Network Interface, Module and Forwarding Tasks
  import_tasks: network.yaml
  tags: networks

- name: collect cmdline.txt
  shell:
    cmd: find /boot -name cmdline.txt
  register: find_cmdline
  tags: cgroup

- name: report cmdline
  debug:
    msg: "{{ find_cmdline.stdout_lines }}"
  tags: cgroup
    
# Adjust for fedora and ubuntu
- name: Enable cgroup in /boot/firmware/cmdline.txt
  ansible.builtin.lineinfile:
    path: "{{ item }}"
    regexp: '^(.*rootwait.*?)( cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1)?$'
    line: '\g<1> cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1'
    backrefs: true
  loop: "{{ find_cmdline.stdout_lines }}"
  when: ansible_os_family == "Debian"
  notify: Reboot Server
  tags: cgroup


- name: Import Package Tasks
  import_tasks: packages.yaml

- name: Apply default CNI configuration
  copy:
    src: /etc/cni/net.d/10-crio-bridge.conflist.disabled
    dest: /etc/cni/net.d/10-crio-bridge.conflist
    remote_src: true
  tags: crio
  notify: Restart CRI-O service

- name: Start and Enable CRI-O service
  service:
    name: crio
    state: started
    enabled: true
  tags:
    - services
    - crio
