---
#- name: Enable SSH Password Auth
#  lineinfile:
#    path: /etc/ssh/sshd_config
#    regexp: '^PasswordAuthentication (yes|no)$'
#    line: 'PasswordAuthentication yes'

- name: Import Swap Tasks
  import_tasks: swap.yaml

- name: Import Network Interface, Module and Forwarding Tasks
  import_tasks: network.yaml
  tags: networks

# Adjust for fedora and ubuntu
# - name: Enable cgroup in /boot/firmware/cmdline.txt
#   ansible.builtin.lineinfile:
#     path: /boot/firmware/cmdline.txt
#     regexp: '^(.*rootwait.*?)( cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1)?$'
#     line: '\g<1> cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1'
#     backrefs: true
#   when: ansible_os_family == "Debian"
#   notify: Reboot Server
#   tags: cgroup

# - name: Enable cgroup in /boot/firmware/config.txt
#   lineinfile:
#     path: /boot/firmware/config.txt
#     insertafter: "^[all]$"
#     line: "cgroup_enable={{ item }}"
#     state: present
#   loop: ['cpuset', 'memory']
#   when: ansible_os_family == "Debian"
#   notify: Reboot Server
#   tags: cgroup
    

- name: Import Package Tasks
  import_tasks: packages.yaml

# - name: Install CNI Plugins
#   block:
#     - name: Create the CNI bin directory
#       file:
#         path: /opt/cni/bin
#         state: directory
#       tags: cni_plugins

#     # https://github.com/flannel-io/flannel?tab=readme-ov-file#deploying-flannel-manually
#     - name: Unpack the CNI plugin binaries
#       unarchive:
#         remote_src: yes
#         src: https://github.com/containernetworking/plugins/releases/download/v1.7.1/cni-plugins-linux-arm64-v1.7.1.tgz
#         dest: /opt/cni/bin
#       tags: cni_plugins
#   tags: cni_plugins

- name: Apply default CNI configuration
  copy:
    src: /etc/cni/net.d/10-crio-bridge.conflist.disabled
    dest: /etc/cni/net.d/10-crio-bridge.conflist
    remote_src: true
  tags: crio
  notify: Restart CRI-O service

- name: Start and Enable CRI-O service
  service:
    name: crio
    state: started
    enabled: true
  tags:
    - services
    - crio
