---
#
# Interface Configuration
#

- name: Determine which network manager is in use
  stat:
    path: /etc/NetworkManager
  register: network_manager

- name: Using NetworkManager
  block:
    - name: Add Networks
      community.general.nmcli:
        type: ethernet
        conn_name: "{{ item.conn_name }}"
        ifname: "{{ item.ifname }}"
        ip4: "{{ item.ip4 }}"
        gw4: "{{ item.gw4 if item.gw4 is defined else '' }}"
        dns4: "{{ item.dns4 if item.dns4 is defined else [] }}"
        dns4_search: "{{ item.dns4_search if item.dns4_search is defined else [] }}"
        state: present
      loop: "{{ interfaces }}"
      when: "item.state == 'present' and item.type == 'ethernet'"
      tags: network
      notify: Restart NetworkManager
    
    - name: Remove Networks
      community.general.nmcli:
    #    type: " {{ item.type }}"
        conn_name: "{{ item.conn_name }}"
        state: absent
      loop: "{{ interfaces }}"
      when: "item.state == 'absent'"
      tags: network
    
    - name: Disable DHCP Gateways
      community.general.nmcli:
        conn_name: "{{ item.conn_name }}"
    #    ifname: "{{ item.vlandev }}.{{item.vlanid}}"
        gw4_ignore_auto: "{{ item.gw4_ignore_auto }}"
        state: present
      loop: "{{ interfaces }}"
      when: "item.gw4_ignore_auto is defined"
      tags: network
      notify: Restart NetworkManager

  when: network_manager.stat.exists

# - name: Using Netplan
#   block:
#     - name: Disable Cloud-init network setup
#       file:
#         path: 50-cloud-init.yaml
#         state: absent

#     - name: Create Interface Files
#       copy:
        
        

    
#
# Kube Modules
#
- name: create /etc/modules-load.d/k8s.conf
  ansible.builtin.copy:
    content: |
      overlay
      br_netfilter
    dest: /etc/modules-load.d/k8s.conf
    backup: yes
    owner: root
    group: root
    mode: '0644'
  tags: network

- name: Add modules
  modprobe:
    name: "{{ item }}"
  loop: ['br_netfilter', 'overlay']
  notify: Reload sysctl
  tags: network

#
# Kube sysctl
#
- name: Create /etc/sysctl.d/k8s.conf
  ansible.builtin.copy:
    content: |
      net.bridge.bridge-nf-call-iptables  = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward                 = 1
    dest: /etc/sysctl.d/k8s.conf
    backup: yes
    owner: root
    group: root
    mode: '0644'
  notify: Reload sysctl
  tags: network
